body {
    background-color: #181818;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: violet;
}

a:hover {
    color: pink;
}

table {
    border: 1px dotted #e9e9e9;
}

td {
    border: 1px solid #e9e9e9;
}

#nome {
    font-size: 32px;
    font-weight: bold;
}

#contato {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
}

.subtitulo {
    font-size: 24px;
}

.espacamento-interno {
    padding: 8px 16px;
}
